html,body{
  font-size:0.9rem;
  height:100%;
  overflow: hidden;
  background: #f7f7f7;
}
#header{
  padding-top: 0.5em;
}
#footer{
    font-size: 0.85em;
    border-top:1px solid #e6e6e6;
}
#footer i{
    font-size: 1.8em;
}
.text-gray{
  color: #b1b1b1;
}
.bb{
    border-bottom: 1px solid #e6e6e6;
}
.page-users .media img{
    width: 48px;
    height: 48px;
}
.page-users .search{
    padding:0.5em;
    border-bottom:0.5px solid #ddd;
    background: #f0f0f0;
}